.cardsPromocao {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}
.card {
    width: 250px;
    height: 450px;
    margin-right: 20px;
    background: #F5E8E8;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
}

.card:nth-child(1) {
    margin-left: 10px;
}

.infoProdutos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
    margin-top: 20px;
    text-align: center;
    font-weight: 400px;
}

.card-preco {
    margin-bottom: 5px;
}

.card-descricao {
    text-align: justify;
    height: 100px;
}

.card-botoes {
    display: flex;
    justify-content: space-evenly;
}

.card-botaoCarrinho,
.card-botaoComprar {
    border-radius: 10px;
    border: none;
}

.card-botaoCarrinho {
    background-color: #F27405;
    width: 60px;
}

.card-botaoCarrinho img {
    width: 24px;
    height: 24px;
    background-color: #F27405;
}

.card-botaoCarrinho:hover {
    opacity: 0.8;
}
.card-botaoComprar {
    background-color: #F24405;
    width: 100px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.card-botaoComprar:hover {
    color:#F24405;
    background-color: white;
}
