body.dark {
    background-color: #151515;
    color: #ffffff;
    transition: 1s;
}

.caixa-info.dark {
    background-color: #373737;
    color:#ffffff;
    transition: 1s;
}


.cabecalho.dark {
    background-color: #151515;
    transition: 1s;
    color: #ffffff;
}

.logo h1.dark {
    color: #ffffff;
}

#txtPesquisa.dark {
    color: #ffffff;
}

.caixaBotao.dark {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.botaoLogin.dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: 1s;
}

.botaoCadastro.dark {
    background-color: #5C5C5C;;
    color: #ffffff;
    transition: 1s;
}

.navegacao.dark {
    background-color: #373737;
    transition: 1s;
}

.linha-banner.dark {
    background-color:  #373737;
    transition: 1s;
}

.banner-img.dark {
    background-image: url(../img/imgBannerDark.png);
    transition: 1s;
}

.destaqueBotao-comprar.dark {
    background-color: #000000;
    transition: 1s;
}

.destaqueBotao-carrinho.dark {
    background-color: #4A4A4A;
    transition: 1s;
}

.secao-promocao.dark {
    border: 1px solid #3B3B3B;
    transition: 1s;
}

.promocao-menu.dark {
    border-bottom: 1px solid #3B3B3B;
    color: #ffffff;
    transition: 1s;
}

.promocao-menu p.dark {
    color: #ffffff;
    transition: 1s;
}

.lista-promocao-menu a.dark {
    color: #ffffff;
    transition: 1s;
}

.card.dark {
    background-color: #272727;
    border: 2px solid #000000;
    color: #ffffff;
    transition: 1s;
}

.card-botaoCarrinho.dark {
    background-color: #4A4A4A;
    transition: 1s;
}

.card-botaoCarrinho img.dark {
    background-color: #4A4A4A;
    transition: 1s;
}

.card-botaoComprar.dark {
    background-color: #000000;
    transition: 1s;
}

.secao-todosProdutos p.dark  {
    color: #ffffff;
}

#linhaTexto.dark {
    border: 1px solid #454545;
}

.rodape.dark {
    background-color: #373737;
}

.iconeTelefone p.dark {
    color: #ffffff;
}

.iconeWhats p.dark {
    color: #ffffff;
}

.iconeInstagram p.dark {
    color: #ffffff;
}

/*MODAL CADASTRO MODO DARK*/
.modal-content.dark {
    background: linear-gradient(310deg, #FFFFFF 0%,
    #B0B0B0 2%, #3D3D3D 14.19%, #6D6D6D 22.18%, #4A4A4A 26.62%, rgba(70, 70, 70, 0.62) 52.22%,
    #9D9D9D 81%, #D0D0D0 93%, #EBEBEB 98%, #FFFFFF 100%);
}

.modal-body p.dark {
    color:#000000;
}

#facaLogin.dark {
    color: #ffffff;
}

#inputEnviarCadastro.dark {
    background-color: #272727;
}
/*MODAL LOGIN MODO DARK*/
.modal-caixaGeral.dark {
    background: linear-gradient(310deg, #FFFFFF 0%, #B8B8B8 2%, #969696 6%, #535353 12%, #656565 22%,
    #535353 50.7%, #828282 79.4%, #999999 92.57%, #D9D9D9 98%, #FFFFFF 100%);
    color: #000000;
}

.modal-caixaLogin.dark {
    background-color: #F2F2F2;
}

#inputEnviarLogin.dark {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}