.navegacao {
    background: #F24405;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.menu {
    text-decoration: none;
    display: flex;
}

.lista-menu a {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 1s;
}


.lista-menu {
    list-style-type: none;
}

.lista-menu:nth-child(n+2) {
    margin-left: 150px;
}

.lista-menu a:hover {
    color: #F24405;
    font-style: bold;
    background-color: white;
    border-radius: 4px;
}
