.menuDepartamento {
    margin-top: 100px;
    margin-left: 30px;
    width: 200px;
    height: 340px;
    background-color: #F5E8E8;
    float: left;
    transition: 1s;
}

.menuDepartamento div {
    background-color: rgba(255, 119, 0, 0.67);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    
}

.menuDepartamento div p {
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B43000;
    transition: 1s;
}

.listaMenu-departamento {
    margin-left: 10px;
    margin-top: 15px;
}
.listaMenu-departamento a {
    text-decoration: none;
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-size: 16px;
    color: #B43000;
    transition: 1s;
}

.listaMenu-departamento a:hover {
    text-decoration: underline;
}

.diaNamorados, .secao-casamento, .secao-aniversario, .secao-arranjo, .secao-buque, .secao-buqueNoiva{
    float: right;
    margin-top: 90px;
}

.secao-aniversario, .secao-buqueNoiva {
    margin-bottom: 50px;
}

.titulo {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin-right: 20px;
}

.titulo p{
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-size: 18px;
    color: #FD7600;
    text-align: right;
    text-transform: uppercase;
    transition: 1s;
}

.linhaTexto-ocasioes {
    width: 240px;
    height: 0px;
    border: 1px solid #F27405;
    border-radius: 4px;
    transition: 1s;
}

.imagensGrid{
    margin-top: 10px;
}
.gridLinha {
    display: flex;
    margin-top: 10px;
    
}

.gridColuna img {
    width: 270px;
    height: 200px;
    margin-right: 20px;
}